In [1]:
import os
os.chdir("C:\\Users\\Uyen\\Documents\\nlp\\thesis")

In [2]:
import swifter
import string
import pandas as pd

import YndataPreprocess

In [3]:
DATA_FILE = "../YNdata/PRICE_MAY_NOV_2019_cleaned.csv"
train_df = pd.read_csv(DATA_FILE)
df = train_df[['label', 'search_text']]

In [14]:
# import importlib

# importlib.reload(YndataPreprocess)
# import YndataPreprocess

In [28]:
pipeline = YndataPreprocess.Processing_Pipeline()
df_ = pipeline(df, 'search_text', YndataPreprocess.get_text, YndataPreprocess.pattern_replace, YndataPreprocess.normalize)

Preprocessing pipeline initialized
Dask Apply: 100%|██████████| 12/12 [00:12<00:00,  1.03s/it]
Dask Apply: 100%|██████████| 12/12 [00:52<00:00,  4.41s/it]
Dask Apply: 100%|██████████| 12/12 [00:10<00:00,  1.11it/s]

In [29]:
df_

         label                                        search_text
0            1  friso có đắt không chị nhỉ lon tầm mấy tiền đó...
1            1  bao tiền NUMlon sữa friso này đấy nhỉ? sữa có ...
2            1                       sữa này giá bao nhiêu đó chị
3            1  friso này giá sao vậy chịơi? sữa này có sữa ch...
4            1          thu hồng cho e xin giá của frisolac vs ạ.
...        ...                                                ...
3070342      0           bỉm quần pamper mNUM/lNUM/xlNUM(date mới
3070343      0   hcm]tã dán pampers nhật bản size nbNUM/sNUM/mNUM
3070344      0                        tã quần pampers mNUM/lNUM/x
3070345      0  (mẫu mới) tã quần pamper nguyên liệu NUM% nhập...
3070346      0               tã dán/tã quần pamper mNUM/mNUM/mNUM

[3070333 rows x 2 columns]

In [30]:
df_.to_csv(DATA_FILE)

In [32]:
df_.shape

(3070333, 2)